.App {
    padding-top: 9vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .quests-container {
        display: flex;
        gap: 2rem;
        color: white;
    }

}
