.card-section {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    .title {
        font-weight: 600;
    }
    .points-card {
        display: flex;
        flex-direction: column;
        border:1.5px solid #fcb7ac;
        border-radius: 22px;
        
        .top-half {
                background: linear-gradient(90deg, #F9A081 40%, #FF715B);
                padding: 4rem;
               border-top-left-radius: 22px;
                border-top-right-radius: 22px;
            }
        .bottom-half {
            background-color: black;
            padding: 2.3rem;
            border-bottom-left-radius: 22px;
            border-bottom-right-radius: 22px;
        }
    }
}