.leaderboard {
mix-blend-mode: overlay;
opacity: 0.5;
width: 95%;
display: flex;
flex-direction: column;
justify-content: center;
gap: .8rem;

}

.leaderboard-player {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 1rem 0rem;
    font-weight: 600;
    font-size: 1.1rem;
    
}
