
.welcome {
    font-size: 1.2rem;
    padding: 0rem 1rem;
    display: flex;
    gap: 1rem;
    .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        font-weight: 600;
        font-size: 1.2rem;
    }
    .suggestion {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .monster-image {
        width: 7.5rem;
    }
}   